

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet {
    justify-content: space-evenly;
  }
}

.catalog__item {
  width: 370px;
  min-height: 260px;
  outline: 2px solid red;

  @include tablet {
    width: auto;
    flex-basis: 40%;
  }

  @include mobile {
    flex-basis: 100%;
    max-width: 450px;
    display: block;
    margin: 0 auto;
  }
}

.card {

}
