.header {
  background: $color-dark;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  color: $color-white;
  padding-top: 30px;
  position: relative;
  margin-bottom: 150px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 140px;
}

.contact__list {
  display: flex;
}

.header-link {
  padding-top: 11px;
  padding-bottom: 11px;
  display: inline-block;
}

.header__logo {
  border: 1px solid $color-white;
  width: 92px;
  height: 39px;
  order: 0;

  .header-link {
    display: block;
    text-align: center;
  }
}

.header__menu-btn {
  width: 37px;
  height: 37px;
  background: url("../img/menu-btn--open.svg") no-repeat center;
  display: none;

  @include mobile {
    display: block;
    cursor: pointer;
  }
}

.header__menu-input:checked + .header__menu-btn-wrapper .header__menu-btn--nojs,
.header__menu-btn--changeIcon {
  background: url("../img/menu-btn--close.svg") no-repeat center;
}

.header__breadcrumbs {
  @media (max-width: 1100px) {
    order: 3;
    width: 100%;
    padding-top: 10px;
  }
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;

  @include mobile {
    flex-direction: column;

    &--hide {
      display: none;
    }

    &--show {
      display: flex;
    }
  }
}

.header__menu-input:checked ~ .header__breadcrumbs .breadcrumbs__list--nojs {
  display: flex;
}

.breadcrumbs__item {
  @include mobile {
    width: 100%;
  }
}

.breadcrumbs__link {
  padding: 11px 14px;
  width: 100%;

  &:hover {
    background: red;
  }
}

.header__contacts {
  @include tablet {
    order: 1;
  }

  @include mobile {
    display: none;
  }
}

.contact__item {
  padding-left: 15px;

  &:first-child {
    margin-right: 20px;
    background: url("../img/icon-phone.svg") no-repeat left top 14px;
  }

  &:last-child {
    background: url("../img/icon-pin.svg") no-repeat left top 12px;
  }
}

.header__promo-text {
  width: 530px;
  font-size: 27px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.12em;
  margin-bottom: 50px;
  position: relative;
  z-index: 10;
  background: $color-dark;
}

.header__btn {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.13em;
  padding: 20px 50px;
  background: $color-yellow;
  margin-bottom: 130px;
  color: $color-dark;
  position: relative;
  z-index: 10;
  background: inherit;
  color: inherit;
}

.header__slider {
  position: absolute;
  bottom: -100px;
  width: 100%;
  color: #ffffff !important;
}

.header {
  color: black;
}
