html {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  width: 100%;
  min-width: 320px;
  font-family: $font-main;
  color: $color-black;
  background: $color-grey;
}

.wrapper {
  width: 100%;
  max-width: $tablet;
  margin: 0 auto;
  padding: 0 15px;

  @include tablet {
    padding: 0 15px;
  }
}

h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  padding: 40px 0;

  @include mobile {
    font-size: 20px;
    line-height: 23px;
    padding: 0;
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
