html {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
    color: currentColor;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  width: 100%;
  min-width: 320px;
  font-family: $font-main;
  color: $color-black;
  background: black;
}

.wrapper {
  width: 100%;
  // max-width: $desktop-width;
  max-width: $tablet-width;
  margin: 0 auto;
  padding: 0 30px;
}
