$mobile-width: 767px;
$tablet-width: 1200px;
// $desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//  Цвета
$color-black: #000000;
$color-dark: #161616;
$color-yellow: #ffe500;
$color-grey: #f1f2f5;
$color-light: #000000;
$color-white: #ffffff;

// Шрифты
$font-main: "Raleway", "Arial", sans-serif;
